#shop-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 80px;
}

/* SIDEBAR */
.side-filter {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.side-filter h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 15px 0;
}
/* 
.filter-card {
  margin-bottom: 20px;
}

.filter-card h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-options label {
  font-size: 14px;
  cursor: pointer;
}

.filter-options input {
  margin-right: 10px;
} */
/* --- ACCORDION COMMON STYLES --- */

.acc-toggle {
  display: none;
}

.acc-title {
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  background: #f2f2f2;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  margin-bottom: 5px;
}

.acc-content {
  max-height: none;
  overflow: visible;
  padding: 10px 5px;
}



/* PRODUCT SECTION */
.shop-heading-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.shop-items {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.card-box {
  background: #fff;
}

.card-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  margin-top: 10px;
  position: relative;
}

.card-text h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-text p {
  font-size: 14px;
  margin-top: 5px;
}

.wishlist-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  #shop-container {
    grid-template-columns: 1fr;
  }

  .side-filter {
    width: 100%;
    position: relative;
    order: -1; /* Move filter on top */
  }
  .product-filter{
    display: none;
  }

   /* Start closed by default */
  .acc-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.35s ease;
  }

  /* Open when clicked */
  .acc-toggle:checked + .acc-title + .acc-content {
    max-height: 300px;
    padding: 10px;
  }

  .card {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .card-img {
    height: 230px;
  }
}

@media (max-width: 480px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img {
    height: 180px;
  }

  .side-filter h3 {
    font-size: 18px;
  }
}
