.slider {
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.slider .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 45%;
}

.btn i {
    color: aliceblue;
    font-size: 2em;
    padding: 10px;

}

@media (max-width: 600px) {
    .slider {
        margin-top: 20%;
    }
}